@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0; /* zera a marguem de toda a tela */
  padding: 0; /* zera todo os padding */
  box-sizing: border-box; /* modelo em caixa para toda a tela */
}

*:focus {
  outline: 0; /* remove o focu de tudo */
}

html,
body,
#root {
  height: 100%;
  /* 
  public/index.html <div id="root"></div> 
  "height" especifica a altura
  "width" especifica a largura
  */
}

body {
  font: 14px 'Roboto', sans-serif;
  background-color: #efefef;
}

a {
  text-decoration: none; /* remover o sublinahdo das tags a  */
}

ul {
  list-style: none; /* remover a bolinha das tags ul  */
}

button {
  cursor: pointer; /* adiconar sempre o curso da mao no button  */
}
